html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.container {
    width:100%;
}

.column {
    width:80%;
    height:95%;
    float:left;
}

.column img {
    width:100%;
    height:auto;
}

.chat {
    width:20%;
    height:90%;
    float:left;
}

.chat img {
    width:100%;
    height:auto;
}

.livestreamframe {
    height: 100%;
    display: inline;
}